<template>
  <div>
    <CommitsList :projectId="projectId"></CommitsList>
  </div>
</template>

<script>
import CommitsList from '../components/CommitsList';

export default {
  name: 'Project',

  components: {
    CommitsList,
  },

  computed: {
    projectId() {
      return parseInt(this.$route.params.id);
    }
  }
};
</script>

<style scoped>

</style>
