<template>
  <div>
    <AddRepository></AddRepository>
    <RepositoryList></RepositoryList>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import RepositoryList from '../components/RepositoryList.vue';
import AddRepository from '../components/AddRepository.vue';

export default {
  name: 'Projects',

  components: {
    AddRepository,
    RepositoryList,
  },

  data() {
    return {
      items: [],
    };
  },

  computed: {
    ...mapGetters([
      'loading',
    ]),
  },
};
</script>

<style scoped>

</style>
