<template>
  <div class="container-fluid mt-3">
    <ValidationObserver v-slot="{ invalid }">
      <form v-loading="isImporting" @submit.prevent="importRepository"
            class="form-inline my-2 my-lg-0">
        <ValidationProvider rules="required|min:3|repoAlias" v-slot="{ errors }">
          <input v-model="repoAlias" class="form-control mr-sm-2" type="text"
                 placeholder="author/repository">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"
                  :disabled="isImporting || invalid">Import
          </button>
          <span>{{ errors[0] }}</span>
        </ValidationProvider>
      </form>
      <span v-if="hasImportError">{{hasImportError}}</span>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider, extend, ValidationObserver } from 'vee-validate';
import { required, min } from 'vee-validate/dist/rules';
import { mapGetters } from 'vuex';
import { IMPORT_REPOSITORY } from '../store/actions';

extend('required', {
  ...required,
  message: 'This field is required',
});

extend('min', {
  ...min,
  message: 'Must be 3 chars min',
});

extend('repoAlias', {
  validate: value => value.split('/').length === 2,
  message: 'Must be in format "author/name',
});

export default {
  name: 'AddRepository',

  components: {
    ValidationProvider,
    ValidationObserver,
  },

  data() {
    return {
      repoAlias: '',
    };
  },

  computed: {
    ...mapGetters([
      'loading',
      'requestErrors',
    ]),

    isImporting() {
      return this.loading[IMPORT_REPOSITORY];
    },

    hasImportError() {
      return this.requestErrors[IMPORT_REPOSITORY];
    },
  },

  methods: {
    importRepository() {
      this.$store.dispatch(IMPORT_REPOSITORY, {
        data: {
          alias: this.repoAlias,
        },
      });
    },
  },
};
</script>

<style scoped>

</style>
