<template>
  <div class="container-fluid mt-3">
    <button class="btn btn-danger my-2 my-sm-0"
       type="submit"
       @click.prevent="deleteSelectedCommits"
       :disabled="nothingToDelete || isDeleting">Delete selected
    </button>
    {{forDelete}}
    <table v-if="hasItems" v-loading="isLoading" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Commit</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, key) in items" :key="key">
        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input
                v-model="forDelete"
                :id="'commit_' + item.id"
                :value="item.id"
                class="form-check-input" type="checkbox">
              {{item.id}}
            </label>
          </div>
        </td>
        <td>{{item.sha}}</td>
      </tr>
      </tbody>
    </table>
    <span v-else>No items.</span>

    <el-pagination
      v-if="hasPagination"
      background
      layout="prev, pager, next"
      :total="parseInt(commits.pagination.total)"
      :page-size="parseInt(commits.pagination.per_page)"
      :current-page="parseInt(commits.pagination.current_page)"
      @current-change='changePage'
    >
    </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex/dist/vuex.esm.browser';
import { GET_COMMITS, SET_COMMIT_FILTERS, DELETE_COMMITS } from '../store/actions';

export default {
  name: 'CommitsList',

  props: {
    projectId: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      forDelete: [],
    }
  },

  computed: {
    ...mapGetters([
      'commits',
      'commitListFilters',
      'loading',
    ]),

    isLoading() {
      return this.loading[GET_COMMITS];
    },

    isDeleting() {
      return this.loading[DELETE_COMMITS];
    },

    nothingToDelete() {
      return this.forDelete.length === 0;
    },

    items() {
      return this.commits.data;
    },

    hasItems() {
      return this.items && this.items.length > 0;
    },

    pagination() {
      return this.commits.pagination;
    },

    hasPagination() {
      return this.commits.pagination
        && this.commits.pagination.total
        && this.commits.pagination.total > 1;
    },
  },

  methods: {
    getPageData() {
      this.$store.dispatch(GET_COMMITS, {
        id: this.projectId
      });
    },

    changePage(page) {
      this.$store.dispatch(SET_COMMIT_FILTERS, {
        data: {
          ...this.commitListFilters,
          page: page
        }
      });
      this.getPageData();
    },

    deleteSelectedCommits() {
      this.$store.dispatch(DELETE_COMMITS, {
        commits: this.forDelete,
        id: this.projectId
      });
    },
  },

  mounted() {
    this.getPageData();
  },
};
</script>

<style scoped>

</style>
