<template>
  <div class="container-fluid mt-3">
    <table v-if="hasItems" v-loading="isLoading" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Repository</th>
        <th scope="col">Commits</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, key) in items" :key="key">
        <td>{{item.author}}/{{item.name}}</td>
        <td>{{item.commits_count}}</td>
        <td>
          <router-link
            :to="{name: 'Project', params: {id: item.id}}"
            class="btn btn-secondary my-2 my-sm-0"
            tag="button"
          >
            Open
          </router-link>
        </td>
      </tr>
      </tbody>
    </table>
    <span v-else>No items.</span>

    <el-pagination
      v-if="hasPagination"
      background
      layout="prev, pager, next"
      :total="parseInt(repositories.pagination.total)"
      :page-size="parseInt(repositories.pagination.per_page)"
      :current-page="parseInt(repositories.pagination.current_page)"
      @current-change='changePage'
    >
    </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { GET_REPOSITORIES, SET_REPO_FILTERS } from '../store/actions';

export default {
  name: 'RepositoryList',

  computed: {
    ...mapGetters([
      'repositories',
      'loading',
      'repoListFilters',
    ]),

    isLoading() {
      return this.loading[GET_REPOSITORIES];
    },

    items() {
      return this.repositories.data;
    },

    hasItems() {
      return this.items && this.items.length > 0;
    },

    pagination() {
      return this.repositories.pagination;
    },

    hasPagination() {
      return this.repositories.pagination
        && this.repositories.pagination.total
        && this.repositories.pagination.total > 1;
    },
  },

  methods: {
    getPageData() {
      this.$store.dispatch(GET_REPOSITORIES);
    },

    changePage(page) {
      this.$store.dispatch(SET_REPO_FILTERS, {
        data: {
          ...this.repoListFilters,
          page: page
        }
      });
      this.getPageData();
    },
  },

  mounted() {
    this.getPageData();
  },
};
</script>

<style scoped>

</style>
