<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <router-link tag="a" class="navbar-brand" to="/">GitHub repository viewer</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div id="app">
      <router-view/>
    </div>

  </div>

</template>

<style lang="scss">
  @import './assets/sass/app.scss';
</style>
